 
footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 250px;
  }

.body{
    background-color: white;
    color: black;
}

.navbar-expand-lg{
    background-color: black !important;
}

.laugh{
    display: flex;
    color: white;
    text-align: center;
}

.love{
    margin-top: 250px;
    font-family: sans-serif;
    padding-left: 50px;
    font-size: xx-large;
    font-weight: bolder;
    color: black;
}

.slide{
    margin-left: 550px;
}

/* .navbar-collapse{
    position:relative;
    right:-200px;
    align-content: space-around;
} */

/* .image{
    border-radius: 5rem;
    margin-left: 500px;
} */

.img1{
    width: 10rem;
}

/* .profile {
  width: 100%;
} */

.h1{
    text-align: center;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: underline;
}

.yes{
    position:relative;
    right:-1065px;
    margin-bottom:10px;
    color:white !important;
    background-color: black !important;
}

.yes:hover{
    background-color: black !important;
    color: white !important;
}

.flipcards{
    display:flex;
    justify-content:space-between;
    height:50vh;
    margin-bottom:300px;

}

.card {
    position: relative;
    top: 50px;
    width: 300px;
    height: 430px;
    perspective: 1000px;
    margin: auto;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  .card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front img {
    width: 300px;
    height: 500px;
  }
  

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: rgb(0, 0, 0);
    min-height: 430px !important;
    font-size:5px !important;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    padding: 3px;
  }

  .back-card-container {
    color: rgb(255, 255, 255);
    background-color: black;
  }
  
  .flip-card-back h2 {
    /* margin-top: 26px; */
    text-decoration: underline;
    /* background-color: black; */
  }
  
  .flip-card-back p {
    /* margin-top: 30px; */
    font-size: 19px;
    /* background-color: black; */

  }

  .container{
    height:50vh;
  }

  .foot{
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
  }

  .footy{
    font-family: sans-serif;
    text-align: center;
  }

  .big{
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 2px solid red; */
  }

  .card-body link{
    width: 500px !important;
  }

  .card{
    height: 500px !important;
  }

  .self{
    margin-bottom: 5rem;
  }
  
.mind{
  border: 2px solid black;
  border-width: 5px;
  width: 1200px !important;
  margin: 6rem;
  /* margin-bottom: 5rem; */
}
   .mom{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
   }

   .mwah{
    text-decoration: underline;
   }

   .bottom{
    margin-bottom: 9rem;
   }

   .bubs{
    width: 500px;
   }

   .sky{
    width: 500px;
   }

   .progress-bar1{
    background-color: #ff0000 !important;
   }

   .progress-bar2{
    background-color:  #005eff !important;
   }

   .progress-bar3{
    background-color: #8712fb !important;
   }

   @media screen and (max-width:720px){
    .love{
      margin-top: 0px;
      font-family: sans-serif;
      padding-left: 0px;
      font-size: smaller;
      font-weight: bolder;
      color: black;
    }

    .kill{
      margin-bottom: 0px;
    }

    footer{
      margin-top: 0px;
    }
/* 
    .img-fluid{
      margin-top: 3rem;
    } */

   }

   @media screen and (max-width:300){
    img{
      width: 10rem;
      height: 5rem;
    }

    footer{
      margin-top: 0px;
    }
   }